@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />

<div class="container">
    <div class="jumbotron text-center ">
        <h1>Bug Tracking System</h1>
        <h4>Click here the below link to check issues summary,create new issues and also perform edit,delete operations.</h4>
        <a class="btn btn-primary text-white" href="/Home/Index">Click Here </a>
    </div>
</div>

